# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
ENV/

# Poetry dependency files
*.egg-info/
*.eggs/
*.dist-info/

# SQLite database files
*.db
*.sqlite3

# Pytest and cache
.pytest_cache/
.cache/
.coverage

# Sphinx documentation build output
docs/_build/

# Editor-specific files
.vscode/
.idea/

# macOS system files
.DS_Store

# Environment files
.env
.env.*

# Environment files
docs/build/*

# Requirements
requirements.txt

# Metaflow run data
./metaflow/*